body {
  margin: 0;
  font-family: "Xanh Mono", monospace;
  background-color: #5b6c5d;
}
.image__container {
  display: flex;
  flex-flow: column wrap;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/04/19/36/beach-1236581_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  opacity: 0.85;
  height: 60vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1% 1% 0% 1%;
  background-color: rgba(16, 39, 47, 0.5);
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3%;
  color: #ffffff;
  text-decoration: none;
  padding: 1%;
}
.homepage__text {
  color: #ffffff;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(16, 39, 47, 0.5);
  border-radius: 50px;
  margin: 3% auto;
  padding: 2%;
}
.homepage__text h2 {
  font-size: 2rem;
}
.homepage__text p {
  font-size: 1.2rem;
}
.footer {
  text-align: center;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: grey;
  

}
.footer div {
  padding-top: 1%;
  padding-bottom: 1%;
  
}
